body {
    margin: 0, 0, 0, 0;
    background: #FFFAFA;
    color: #777;
    font-family: 'Share Tech Mono', monospace;
}

ul { margin-left: 0; padding-left: 0; }

h1,h2,h3,h4,h5,h6 {
    font-family: 'Share Tech Mono', monospace;
    font-weight: 300;
}

h4 {
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
}

h5 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 16px;
    text-align: center;
}

h5,
a {
    color: #3C3C3C;
    text-decoration: none;
}

a:hover {
    color: #969696;
}

input[type="text"] {
    padding: 12px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.4s;
}

input[type="text"]:focus,
input[type="text"].focus {
    border-bottom: solid 2px #969696;
}

textarea {
    padding: 12px;
    border: none;
    border: solid 2px #c9c9c9;
    transition: border 0.4s;
}

textarea:focus,
textarea.focus {
    border: solid 2px #969696;
}

button {
    font-size: 18px;
    padding: 12px;
    border: none;
    border: solid 2px #c9c9c9;
    transition: all 0.4s;
    background-color: #FFFAFA;
}

button:active,
button:hover {
    border: solid 2px #969696;
}

#container {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    min-width: 100;
}

#block {
    margin-right: 30px;
    border: none;
    transition: border 0.4s;
    background-color: #FFFFFF;
}

#virtru-auth-widget-mount {
    max-width: 100%;
    position: absolute;
    right: 0px;
    width: 300px;
}

[type="checkbox"]
{
    vertical-align:middle;
}

#message {
    min-height: 35%;
}

fieldset {
    padding: 0px 10px 10px 10px;
    border: solid 2px #3C3C3C;
    margin-bottom: 5px;
}

fieldset * {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.error {
    background: rgba(255, 50, 50, 1);
}

.working {
    background: linear-gradient(270deg, #00ff42, #0081ff, #ba00ff);
    background-size: 600% 600%;
    -webkit-animation: statusWorking 5s ease infinite;
    -moz-animation: statusWorking 5s ease infinite;
    -o-animation: statusWorking 5s ease infinite;
    animation: statusWorking 5s ease infinite;
}

@-webkit-keyframes statusWorking {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes statusWorking {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes statusWorking {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes statusWorking {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@media screen and (max-width: 1000px) {
    #container {
        max-width: 92%;
    }
}
