<!DOCTYPE html>
<html>

<head>
  <title>OnlyKey - Encrypt & sign messages in your browser using OnlyKey</title>
  <meta name="viewport" content="width=device-width,initial-scale=0.70">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/ShareTechMono.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/tokenizer.css" rel="stylesheet">
</head>

<body data-page="<%= htmlWebpackPlugin.options.page %>">
  <nav class="navbar navbar-dark bg-dark">
    <div class="mr-auto text-center">
      <a class="">&nbsp;Apps&nbsp;</a>
      <!--
      <a class="navbar-brand" href="./encrypt"><i class="fa fa-lock" aria-hidden="true"></i></a>
      <a class="navbar-brand" href="./decrypt"><i class="fa fa-unlock" aria-hidden="true"></i></a>
      <a class="navbar-brand" href="./decrypt-file"><i class="fa fa-file-text" aria-hidden="true"></i></a>
      <a class="navbar-brand" href="./encrypt-file"><i class="fa fa-file-archive-o" aria-hidden="true"></i></a>
      <a class="navbar-brand" href="./search"><i class="fa fa-search" aria-hidden="true"></i></a>
      <a class="navbar-brand" href="./password-generator"><i class="fa fa-key" aria-hidden="true"></i></a>
      -->

      <% if(htmlWebpackPlugin.options.app_pages)
        for(var i in htmlWebpackPlugin.options.app_pages) { 
          var ap = htmlWebpackPlugin.options.app_pages[i];
          if(ap.icon){ %>
        <a class="navbar-brand" href="./<%= ap.name %>"><i class="fa <%= ap.icon %>" aria-hidden="true"></i></a>
        <% }else if(ap.title){ %>
          <a class="navbar-brand" href="./<%= ap.name %>">
            <%= ap.title %>
          </a>
          <% } } %>


            <br class="d-block d-sm-none" />
            <a class="">&nbsp;Links&nbsp;</a>
            <a class="navbar-brand" href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
            <a class="navbar-brand" href="https://docs.crp.to/webcrypt.html"><i class="fa fa-question" aria-hidden="true"></i></a>
            <a class="navbar-brand" href="https://docs.crp.to/"><i class="fa fa-book" aria-hidden="true"></i></a>
            <a class="navbar-brand" href="https://onlykey.io"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
    </div>
  </nav>
  <div class="container text-center pt-1 app-head">
    <p class="doOverflow-x">
      <img src="ok-plugged4.png" alt="logo" align="middle">
    </p>
    <h1 id="fancy-icons">
      <i class="fi-a fa fa-paper-plane fa-2x" aria-hidden="true"></i>
      <i class="fi-b fa fa-long-arrow-right fa-2x" aria-hidden="true"></i>
      <i class="fi-c fa fa-lock fa-2x" aria-hidden="true"></i>
    </h1>
    <h5><div id="header_messages"></div></h5>
  </div>
  <div id="container">
    <div class="text-center">
      <h1>Loading...</h1>
      <noscript>
          <h2 class="text-danger">This App Requires JavaScript to work.</h2>
        </noscript>
    </div>
  </div>
  <div id="container">
    <div id="terminal_messages"></div>
  </div>
  <div class="container">
    <div class="row pt-4">
      <div class="col-sm text-center">
        <a href="https://crp.to/">CryptoTrust LLC</a> &copy; 2021
      </div>
    </div>
  </div>
</body>

</html>
